.App {
  max-width: 500px;
  margin: 0 auto;
  font-family: "Manrope", sans-serif;
}
.Weather {
  padding: 20px;
  max-width: 500px;
  display: block;
  margin: 30px auto;
  border: 1px solid #838998;
  border-radius: 4px;
  margin-bottom: 0%;
}
.search-city {
  margin-bottom: 20px;
}
.city {
  font-size: 44px;
  font-weight: 400;
  color: #5a6275;
}
.current-temp {
  font-size: 44px;
  color: #f92c3a;
  margin-bottom: 0%;
}
.current-time {
  font-size: 24px;
  color: #838998;
}
ul {
  list-style: none;
  padding: 0;
}
.current-wh {
  color: #5a6275;
  font-size: 18px;
  margin-top: 10px;
}
.five-day-items {
  color: #838998;
  font-size: 26px;
  font-weight: 300;
  padding-top: 4px;
}
.low-high {
  color: #f92c3a;
  word-spacing: 12px;
}
.footer {
  text-decoration: none;
}
@media (max-width: 600px) {
  .App a {
    font-size: 12px;
    padding-top: 0;
    padding-left: 20px;
  }
  .Weather {
    margin: 20px 20px 0;
  }
  .WeatherInfo h1 {
    font-size: 28px;
  }
  .five-day-items {
    font-size: 17px;
  }
  .Weather form {
    max-width: 100%;
  }
}
